data/data.zip
data/clean_data.pkl
Dictionaries/201128 Catalogos.xlsx
Dictionaries/201128 Descriptores_.xlsx
Dictionaries/Actualizaciones en la presentación de información referente a casos de COVID.pdf
notes.md
Models/*